* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #CCE9E4;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
    color: #fff;
    border-radius: 10px;
}

main {
    display: flex;
}

.sidebar {
    border-radius: 10px;
    width: 100px;
    height: 5000;
    padding: 15px;
    background:  #CCE9E4;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
}

.sidebar:hover {
    width: 200px;
    /* Sidebar mở rộng */
}

.sidebar .dashboard {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff33;
}

.sidebar .dashboard .fa-solid {
    font-size: 40px;
    color: #fff;
}

.sidebar .dashboard a {
    color: #ddd;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

.sidebar .menu {
    padding: 0;
    list-style: none;

}

.sidebar .menu li {
    padding: 15px 0;
    transition: background 0.3s;
    display: flex;
    align-content: center;
    padding: 20px;
}

.sidebar .menu li:hover {
    background: #40444b;
    border-radius: 8px;
}

.sidebar .menu li i {
    font-size: 20px;
    color: #fff;
    margin-right: 8px;
}

.sidebar .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.4s ease;
    white-space: nowrap;
}

.sidebar:hover .menu li a {
    display: inline-block;
    margin-left: 10px;
    opacity: 1;
}

.sidebar .menu li:hover i {
    transform: scale(1.1);
}

aside {
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 100%;
    background: #e4e1e1;
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #2c2f33;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
    color: #fff;
    border-radius: 10px;
}